<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Watch List</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <nav>
        <h1><a href="{{ url_for('home') }}">Movie Library</a></h1>
    </nav>
    <ul class="track">
        {% for movie in movies: %}
        <li>
            <a href="{{ url_for('movie_details', title=movie['title']) }}"><img src="{{ movie['img_url'] }}" alt="movie poster"></a>
            <p>Ranking: {{ movie.ranking }}</p>
        </li>
        {% endfor %}
    </ul>
    <div class="button">
        <button type="submit"><a href="{{ url_for('add') }}">Add Movie</a></button>
    </div>
</body>
</html>